// :root {
//   --el-color-primary: red;
// }

body {
  margin: 0;
}

a {
  color: var(--el-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}

.app-container {
  padding: 20px;
}

.form-width-30 {
  width: 30px;
}

.form-width-50 {
  width: 50px;
}

.form-width-80 {
  width: 80px;
}

.form-width-100 {
  width: 100px;
}

.form-width-150 {
  width: 150px;
}

.form-width-180 {
  width: 180px;
}

.form-width-200 {
  width: 200px;
}

.form-width-220 {
  width: 220px;
}

.form-width-250 {
  width: 250px;
}

.form-width-300 {
  width: 300px;
}

.form-width-350 {
  width: 350px;
}

.item-space-3 {
  margin: 0 3px 0 3px;
}

.item-space-5 {
  margin: 0 5px 0 5px;
}

.item-space-8 {
  margin: 0 8px 0 8px;
}

.display-flex {
  display: flex
}

.display-inline {
  display: inline-block;
}

.long-text-break {
  word-break: break-all;
}

.right-side {
  float: right;
}

.link-pointer {
  cursor: pointer;
}

.use-scroll {
  overflow: auto;
}
